root {
    --surface: #f1f2f4;
}

body {
    font-family: sans-serif;
    background: var(--surface);
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    height: 50px;
    color: #fff;
    font-weight: 500;
    display: flex;
    background: #00aeef;
    width: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    border-bottom: 8px solid #1ff020;
    z-index: 100;
}

@media (max-width: 440px) {
    h1 {
        font-size: 20px;
    }
}